*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent; // i.e. Nexus5/Chrome and Kindle Fire HD 7''
}  
html,body,#all,.question-container{
    height:100%;
    width:100%;
    overflow: hidden;
}
.question-container{
  font-family: Helvetica;
  color:white;
  border:1px solid;
  background-color:rgb(94, 94, 255);  
  transform: translate3d(0, 0, 0);

}
.question{
  position: relative;
  font-size:10pt;
  height: 35%;
  text-align: center;
  vertical-align: bottom;
}

.answers{
    height: 0;
    margin: 0 auto;
    position:relative;
    max-width:300px;
    margin-top:180px
}

@media (max-width: 384px) {
    .answers{
        max-width: 220px;
    }
}

.answers.big{
    margin-top:120px
}
.answers.big li > div{
    height:140px;
    width:140px;
    line-height: 140px;
    margin-left: -73px;
    margin-top: -73px;
    font-size:36pt;
}

.answers li > div{
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    line-height: 80px;
    background-color: rgba(156, 172, 171, 0.27);
    margin-left: -43px;
    margin-top: -43px;
}
.dark .answers li > div{
    background-color: rgba(135, 240, 234, 0.27);
}
.answers li div div.text{
    font-size:70%;
}

.answers li div div {
    /* not sure about this bit: */
    -webkit-box-shadow: 0px 174px 91px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 174px 91px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 58px 91px -5px rgba(0,0,0,0.25);
    border-radius: 50%;
}

.answers li{
    font-size: 22pt;
    margin: 0;
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 50%;
}


span.question-text {
    font-size: 24pt;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transition:0.3s;
    padding:0 40px;
    text-shadow: 0px 26px 67px rgba(0,0,0,0.55), 0px 2px 3px rgba(0,0,0,0.15);
}